.header__logo {
    max-width: 142px;
    padding: 0 0 41px 0;
}

@media(max-width: 900px) {
    .header__logo {
        padding: 0 0 40px 30px;
    }
}

@media(max-width: 425px) {
    .header__logo {
        padding: 0 0 31.6px 27px;
        max-width: 103.74px;
    }
}
