.profile__title {
    grid-area: item__title;
    max-width: 294px;
    margin: 22px 25px 0 30px;
    font-weight: 500;
    font-size: 42px;
    line-height: 94%;
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 5px;
}

@media(max-width: 900px) {
    .profile__title {
        font-size: 32px;
        line-height: 100%;
    }
}

@media(max-width: 620px) {
    .profile__title {
        margin: 26px 10px 0 0;
        font-size: 27px;
        max-width: 189px;
        justify-self: end;
        padding-bottom: 2px;
    }
}