.footer__title {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color:#545454;
}

@media(max-width: 425px) {
    .footer__title {
        font-size: 14px;
    }
}