.popup__title {
    max-width: 330px;
    margin: 0;
    padding: 0;
    padding: 34px 64px 54px 36px;
    font-size: 24px;
    font-weight: 900;
    line-height: 100%;
    color: #000000;
}

@media(max-width: 425px) {
    .popup__title {
        max-width: 238px;
        padding: 25px 22px 75px 22px;
        font-size: 18px;
    }
}